html{
	margin:0;
}

body{
	margin: 0;
	background-color: Gray;
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

/*div{
	border : 1px solid;
	border-color: orange;
}*/
.header{
	background-color: white;
	height : 3em;
	padding-top: 0.25em;
	position: fixed;
	z-index: 9999;
	width: 100%;
}

.links{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

/*Hide links if browser size becomes too small*/
@media only screen and (max-width: 720px){
	.links{
	visibility: hidden;
	}
}

.links ul > li{
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	padding-left: 2em;
	padding-right: 2em;
	color : #afafaf;
}




.links ul > li > a{
	color : #afafaf;
	text-decoration: none;	
}

.landing{
	height : 45em;
	width: 100%;
	background-color: gray;
	padding-top:13em;
	color: white;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}



.name{
	font-family: 'Open Sans', sans-serif;
	width : 100%;
	margin : 0 auto;
	text-align:center;
}
.name >h3{
	
	font-size:45px;
	line-height: 50px;
	letter-spacing: 0.0825em;
	font-weight: 400;
}

.name >p{
	font-size:25px;
	line-height: 30px;
	letter-spacing: 0.0825em;
	font-weight: 400;
}


.about{
	height : 60em;
	width: 100%;
	padding-top: 6em;
	padding-bottom: 6em;
	background-color: white;
}

@media only screen and (max-width:1000px){
	.about{
	height : 60em;
	width: 100%;
	padding-top: 6em;
	padding-bottom: 6em;
	background-color: white;
}
}

.greeting{
	font-family: 'Open Sans', sans-serif;
	color : #808080;
	width: 100%;
	font-size: 42px;
	line-height: 46px;
	font-weight: 1000;
	letter-spacing: 0.0825em;
	text-align: center;
	margin-left:auto;
	margin-right: auto;
	margin-top: 2em;
}

.info{
	text-align: center;
	margin-top: 5em;

}

.info h3{
	font-family: 'Open Sans', sans-serif;
	color : #666666;
	font-size: 18px;
	line-height: 33px;
	font-weight: 100;
	text-align: center;
	padding-left: 5em;
	padding-right: 5em;
}

.info h3 > a{
	color : #000000;
	text-decoration: none;
	border-bottom: 1px solid black;
}

.info h3 > a:hover{
	color : #000000;
	border-bottom : 1px dotted black;
}

.work{
	width: 100%;
	height : 80em;
	padding-top: 4em;
	padding-bottom: 4em;
	background-color: #f5f5f5;
}

@media only screen and (max-width:801px){
	.work{
	width: 100%;
	height : 140em;
	padding-top: 4em;
	padding-bottom: 4em;
	background-color: #f5f5f5;
	}
}

.work-title{
	font-family:'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 42px;
	line-height: 46px;
	color : #808080;
	letter-spacing: 0.05em;
	width : 100%;
	margin-right: auto;
	margin-left:auto;
	text-align: center;
}

.work-stuff{
	margin-top: 1em;
}

.workimage{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.workinfo >p{
	font-family: 'Open Sans', sans-serif;
	color : #666666;
	font-size: 14px;
	line-height: 25px;
	font-weight: 100;
	text-align: center;
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 0.5em;
}

.workinfo > h3{
	font-family: 'Open Sans', sans-serif;
	color : #666666;
	font-size: 18px;
	line-height: 33px;
	font-weight: 100;
	text-align: center;
	padding-left: 5em;
	padding-right: 5em;
}

.workinfo h3 > a{
	color : #000000;
	text-decoration: none;
	border-bottom: 1px solid black;
}

.workinfo h3 > a:hover{
	color : #000000;
	border-bottom : 1px dotted black;
}


#nutanix{
	height: 150px;
	width: 150px;
	border-radius: 100%;

}

.projects{
	height: 130em;
	width: 100%;
	background-color: #363636;
	padding-top: 6em;
	padding-bottom: 3em;
}

@media only screen and (max-width:801px){
	.projects{
	width: 100%;
	height: 220em;
	width: 100%;
	background-color: #363636;
	padding-top: 6em;
	padding-bottom: 3em;
	}
}

.project-title{
	font-size: 42px;
	line-height: 46px;
	letter-spacing: 0.15;
	color : #9c9c9c;
	font-family: 'Open Sans', sans-serif;
	width: 15em;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.project-stuff{
	margin-top: 1em;
}

.project-image{
	height: 200px;
	width: 370px;
	margin-right: auto;
	margin-left: auto;
}


.project-info >p{
	font-family: 'Open Sans', sans-serif;
	color : #9c9c9c;
	font-size: 14px;
	line-height: 25px;
	font-weight: 100;
	text-align: center;
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 0.5em;
}

.project-info > h3{
	font-family: 'Open Sans', sans-serif;
	color : #B59C61;
	font-size: 18px;
	line-height: 33px;
	font-weight: 100;
	text-align: center;
	padding-left: 3em;
	padding-right: 3em;

}

.project-info a{
	text-decoration: none;
}

.project-info a > h3{
	color : #B59C61;
	text-decoration: none;
	text-align: center;
	padding-left: 3em;
	padding-right: 3em;
}

#mac{
	height :200px;
	width:370px;
}


#iphone{
	height :225px;
	width: 225px;
	margin-left: 5em;
}
#screenimage{
	height : 160px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -13.50em;
}

#phscreenimage{
	height : 170px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -14.10em;
}
/**
.about{
	height: 45em;
	width: 100%;
	padding-top: 6em; 
	background-color: white;
	padding-bottom: 2em;
}

.about-title{
	font-family: 'Open Sans', sans-serif;
	color : #808080;
	width: 100%;
	font-size: 42px;
	line-height: 46px;
	font-weight: 1000;
	letter-spacing: 0.0825em;
	text-align: center;
	margin: 0 auto;
}

.info-holder{
	width: 80%;
	height: 20em;
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}


@media screen and (max-width: 800px){
 ul{
		list-style-type: none;
	}

 li{
	font-family: 'Roboto', sans-serif;
	padding-left: 2em;
	padding-right: 2em;
	color : #afafaf;
	padding-top: 1em;
	padding-bottom: 1em;
	}
}

@media screen and (min-width: 800px){
li{
	display: inline-block;
	margin-top: 0em;
	vertical-align:top;
}
}



.info-one{
	width: 47%;
	height: 14em;
	float:left;
	text-align: center;
}

.info-one h3{
	font-family: 'Open Sans', sans-serif;
	color : #666666;
	font-size: 18px;
	line-height: 33px;
	font-weight: 100;
	text-align: center
}



.info-two{
	width: 47%;
	height: 14em;
	text-align: center;
	float: right;
}

.info-two h3{
	font-family: 'Open Sans', sans-serif;
	color : #666666;
	font-size: 18px;
	line-height: 33px;
	font-weight: 100;
	text-align: center
}

.info-two h3 > a{
	color : #000000;
	text-decoration: none;
	border-bottom: 1px solid black;
}

.info-two h3 > a:hover{
	color : #000000;
	border-bottom : 1px dotted black;
}





.word-desc{
	width : 80em;
	height : 30em;
	background-color: #f5f5f5;
	margin: 100 auto;
	padding-top: 1em;
	margin-top:3em;
}

.word-desc-two{
	width : 80em;
	height : 30em;
	background-color: #f5f5f5;
	margin: 100 auto;
	padding-top: 1em;
	margin-top: -10em;
}

.workbox{
	padding-top: 2em;
	width : 35em;
	height : 25em;
}

.workimage{
	height: 150px;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
}


#nutanix{
	height : 150px;
	width : 150px;
	border-radius : 100%;
	border : 1px dotted #adadad;
}

.worktitle{
	width : 10em;
	height: 3em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: -0.5em;
}

.worktitle > h3{
	font-family:'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 22px;
	color: #4c4c4c;
	letter-spacing: 0.04em;
	text-decoration: none;
}

.workcap{
	font-family:'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 12px;
	color : #999999;	
	width: 15em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height : 3em;
	margin-top: -1em;
}

.workpara{
	font-family:'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 15px;
	color : #999999;	
	width: 35em;
	margin-top: 1em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.workpara p > a{
	color: #999999;
	text-decoration: none;
	border-bottom: 1px solid #999999;
}

.workpara p > a:hover{
	color : #000000;
	border-bottom : 1px dotted #999999;
}


.projects{
	height: 110em;
	width: 100%;
	background-color: #363636;
	padding-top: 6em;
	padding-bottom: 3em;
}



.project-desc{
	width : 80em;
	height : 30em;
	background-color: #363636;
	margin: 100 auto;
	padding-top: 1em;
	margin-top:3em;
	margin-bottom: -5em;
}

.project-image{
	height: 200px;
	width: 370px;
	margin-right: auto;
	margin-left: auto;
}


#projects{
	height : 200px;
	width : 370px;	
}


#phone{
	width: 256px;
	height: 246px;
	margin-left: 3.5em;
	margin-right: 3.5em;
}



.phscreenimage{
	height : 180px;
	width: 113px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -13.50em;
}

.project-desc-two{
	width : 80em;
	height : 30em;
	background-color: #363636;
	margin: 0 auto;
	padding-top: 1em;
	margin-bottom: -5em;
}

.footer{
	width: 1000em;
	height: 10em;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	color: #666666;
	text-align: center;
	padding-top: 1em;
}

.footer > h3 p{
	text-align: center;
	font-size :20px;
	line-height: 33px;
}**/
